.process-visual {
  display: flex;
  gap: 16px;
  position: relative;

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    block-size: 200px;
    inline-size: 200px;
    gap: 8px;
  }

  .data-block {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
  }
}
